# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
../venv/

# Ignore environment and key files
../.env
../keys/
../*.pem:Zone.Identifier
../*.pem

# Ignore root and other service-specific files
../fastapi/
../docker-compose.yml
../.git
../.gitignore

# Ignore macOS metadata
.DS_Store
